
<style>


    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      width: auto;
    }
    a:link {
      color: #0050da;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color: #0050da;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: #0050da;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:active {
      color: #0050da;
      background-color: transparent;
      text-decoration: none;
    }
    
    #mynav{
        background-color: rgb(240, 240, 240);
        height: 3.5cm;
        width: auto;
        margin-top: -0.6cm;
        border-radius: 4px;
        padding-top: 20px;
    }

    h1{
        
        font-size: 1.2cm;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-top: 0.6cm;
        padding-left: 1.3cm;
    }

    </style>
<div id="mynav">
    <a href="http://localhost:3000/" ><h1>Port Scanner</h1></a>
</div>
