<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 error</title>
    <link rel="shortcut icon" href="pics/scanvectorfavicon.jpg" type="image/x-icon">
    <style>
        h1{
            color: #0050da;
            font-size: 40px;
        }
        a{
            font-size: 20px;
            color: #0050da;
        }
    </style>
</head>
<body>
    <h1>An error occured</h1>

    <a href="http://localhost:3000/">back to home</a>
    
</body>
</html>